<font size="4" color="white">Buy or Bid for anything, anytime</font>
<p>
<div class="jumbotron center"
	
	<span class="text-success"><h2>Welcome Ed</h2></span>

	<p>

	<% if user_signed_in? %>
	...Welcome to bid.je
	<%else %>
	<p>
		<p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
	<% end %>
	</p>
</div>